@import "tailwindcss";
@font-face {
  font-family: "Tempting";
  src: url("/fonts/Tempting.woff2") format("woff2"),
       url("/fonts/Tempting.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}